<h1> Your Text Analysis </h1>

<h2>Number of Words:<%=@u_text.count_of_words%></h2>

<h2>Vowels:<%=@u_text.count_of_vowels%></h2>

<h2>Consonants:<%=@u_text.count_of_consonants%></h2>

<h2>Most Common Letter: <%=@u_text.most_used_letter.first.upcase%>, used <%=@u_text.most_used_letter.last%> times</h2>
